body{
  text-decoration: none;
  font-family: "europa", sans-serif;
  

}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  overflow: hidden;
}
.navbar{
  padding: 1.2rem 0;
  height: 90px;
  margin: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

a {
  text-decoration: none;
  color: #7510F7;


}
img {
  width: 75px;
	height: 75px;
}

.navbar-brand{
  display: flex;
  justify-content: center;
}

.fin-navbar{
  text-align: center;
  display: flex;
  justify-content: space-between; 
  text-decoration: none;

}

.menu{
  color: black;
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 3.25rem;
  cursor: pointer;
  margin-left: auto;
}

.navbar .navbar-menu .navbar-item1 {
  border-width: 2px;
  font-weight: 400;
  font-size: 18px;
  padding: 1.2rem;
  color: #7510F7;
  display: flex;

}

.navbar .navbar-menu .navbar-item2  {
  
  font-weight: 400;
  font-size: 18px;
  padding: 1.2rem;
  display: flex;
  border-radius: 50px;
  border: 1px solid;
  border-color:#7510F7;
  
}
.navbar .navbar-menu .navbar-item2 .button.is-primary.is-outlined {
  border-width: 2px;
  font-weight: 400;
  font-size: 18px;
}
a.button.is-outlined {
  border-width: 2px;
}

a.button.is-primary.is-outlined.is-rounded {
  
  background-color: transparent;
  
  color: #7510F7;
}


a.button.is-rounded{
  border-radius: 290486px;

}

.button {
  font-family: "europa", sans-serif;
 
  
}

.sectionClass{
  padding-top: 2rem;
  display: flex ;
  justify-content: center;
  
}

.sectionClass.hero-body{
  display: flex;
  justify-content: center;
  display: table-cell;
  vertical-align: middle;
}

.sectionClass.hero-body.container{
  display: flex;
  justify-content: center;
}

.colonne{
  display: block;
  flex-direction: column;
 
}

.containerTitle{
  display: flex;
  justify-content: center;
}

.colonne-centree{
  display: flex;
  justify-content: center;

}

.title{
  display: flex;
  justify-content: center;
  font-weight: 600;
 

}

 .soustitre {
  display: flex;
  justify-content: center;
  font-weight: 50;
  font-size: 1.25rem;
  
 
}

.imagecentree{
  
  margin: auto; 
  display: flex;
  justify-content: center;
}

.avatar{
  width: 75%;
  height: 50%;
  padding-top: -200px;
	
}

.blockCouleur{
  height: 20rem;
  background-color: #7510F7;
  color: white;
  padding: 10rem 1.5rem ;
}

.colonneCentree{
 width: 60%;
  display: inline-block;
  text-align: center;
}

.contenublock{
  display: flex;
  justify-content: center;

}

.sectionSkills{

  margin-top: -10rem;
  padding-bottom: 5rem;
  display: flex; 
  justify-content: center;
 

}
.colonnes{
  text-align: center;
  
}

.contenuBox{
   border: 1px rgb(233, 233, 240) solid ;
  
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: 80rem;
  -webkit-columns: 3 auto;
  -moz-columns: 3 auto;
  columns: 3 auto;
  -moz-column-gap: 40px;
  -webkit-column-gap: 40px;
  column-gap: 0;
}

.colonneskill{
  padding: 70px 50px;
  display : table;
  margin : 0 auto;
  transition: transform 250ms;

}

.colonneskill:hover {
  transform: translateY(-10px);
}




.imgskills{
  display : table;
  margin : 0 auto;  
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
}



.conteneur{
  
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
  justify-content: center;
  height: 40rem;
  width: 40rem;
 
  

}

.conteneur>* {
  flex: 1 1 80px;
  column-gap: 30rem;
}

.col{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 7px;
  width: 50%;
  height: 50%;
  margin: 10px;
  border-radius: 12px;
  
}

.col:hover {

  transition: all 0.4s ease-in-out;
  box-shadow: 0 5px 35px 0px rgba(255, 255, 255, 0.603);

  

}

.titreProjet{
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;

}

.grille{
  display: flex;
  justify-content: center;
  background-color: #7510F7;
  width: 100%;
  height: 100%;
}

.titreExperiences , .titreFormations{
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;

}

.conteneurExp, .conteneurForm{
  
  display: inherit; 
  justify-content: center;
  height: 100%;
  width: 100%;
 
}

.grilleExp, .grilleForm{
 
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.colExp, .colForm{
  background-color: #7510F7;
  color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding-bottom: 2rem;
  width: 25%;
  height: 18rem;
  padding: 30px;
  margin: 10px;
  border-radius: 12px;
}

.colForm{
  height: 25rem;

}
.contenuLang, .contenulog, .conteneurForm{
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.boxLang, .boxlog{
  width : 95%;
  display: flex;
  justify-content: space-around;
}
.boxLang{
  width: 70%;
}

.titreLang, .titrelog{
  padding-top: 10rem;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.piedPage{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #7510F7;
  height: 40rem;
  color: white;
  margin-top: -6rem;
  
}

.surPiedsPage{
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);

  width: 50%;
  height: auto;
}


.contenuPiedPage{
  height: 50%;
  width: 50%;
  text-align: center;

}

.grilleForm .colForm:hover {
  color: transparent;
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}

.grilleExp .colExp:hover{
  color: transparent;
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);

}


.grilleForm .colForm.bourdelle:hover,
.grilleExp .colExp:hover,
.grilleForm .colForm.bourdelle:hover~.bg {
  transition: all 0.4s ease-in-out;
  -webkit-transform:scale(1.25); /* Safari et Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* Internet Explorer 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
  opacity: 1;
  background: #7510F7;
  background-image: url(DSC05839-scaled.jpg);
  max-width: 100%;
  background-size: cover;
  /*background: -moz-linear-gradient(-45deg, #7510F7 15%, #2b94e5 100%);
  background: -webkit-linear-gradient(-45deg, #7510F7 15%,#2b94e5 100%);
  background: linear-gradient(135deg, #7510F7 15%,#2b94e5 100%);*/
}

.grilleForm .colForm.paulSab:hover,
.grilleForm .colForm.paulSab:hover:hover~.bg{
  transition: all 0.4s ease-in-out;
  -webkit-transform:scale(1.25); /* Safari et Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* Internet Explorer 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
  opacity: 1;
  background: #7510F7;
  background-image: url(universite-paul-sabatier.jpg);
  background-size: cover;

  /*background: -moz-linear-gradient(-45deg, #7510F7 15%, #2b94e5 100%);
  background: -webkit-linear-gradient(-45deg, #7510F7 15%,#2b94e5 100%);
  background: linear-gradient(135deg, #7510F7 15%,#2b94e5 100%);*/

}

.grilleForm .colForm.jeanJaures:hover{
  transition: all 0.4s ease-in-out;
  -webkit-transform:scale(1.25); /* Safari et Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* Internet Explorer 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
  opacity: 1;
  background: #7510F7;
  background-image: url(universite-jean-jaures.jpg);

  background-size: cover;
}

.grilleExp .colExp.ingram:hover{
  transition: all 0.4s ease-in-out;
  -webkit-transform:scale(1.25); /* Safari et Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* Internet Explorer 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
  opacity: 1;
  background: #7510F7;
  background-image: url(ingram.png);

  background-size: cover;
}

.grilleExp .colExp.chu:hover{
  transition: all 0.4s ease-in-out;
  -webkit-transform:scale(1.25); /* Safari et Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* Internet Explorer 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
  opacity: 1;
  background: #7510F7;
  background-image: url(oncopole.jpg);

  background-size: cover;
}

.grilleExp .colExp.labo:hover{
  transition: all 0.4s ease-in-out;
  -webkit-transform:scale(1.25); /* Safari et Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* Internet Explorer 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
  opacity: 1;
  background: #7510F7;
  background-image: url(LABO31.jpg);

  background-size: cover;
}


.boutonsReseaux{
  display: flex;
  justify-content: center;
  padding-top: 25REM;

}

.boutonsReseaux a{
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #7510F7;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
  z-index: 1;
}

.boutonsReseaux a::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg,white,#7510F7);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.boutonsReseaux a:hover::before{
  transform: scale(0);
}

.boutonsReseaux a i{
  transition: 0.3s ease-in;
}

.boutonsReseaux a:hover i{
  background: linear-gradient(45deg,white,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}


.positionSurPiedPage{
  display: flex;
  justify-content: center;
}


